<router-outlet> </router-outlet>
<div class="panel panel-primary">
  <div class="panel-heading">{{page_title}}
    <a href="#" class="btn btn-success" [routerLink]="['create']">Create</a>
  </div>
  <div class="panel-body">
    <div><input [(ngModel)] ="filterBy" type="text" placeholder="filter products"class="form-control"></div>
    <div class="alert alert-success" *ngIf="filterBy" >List filtered using : {{filterBy}}</div>
    <table *ngIf='products && products.length' class="table table-bordered table-hover">
      <tr>
        <th>
          <button class="btn btn-primary" (click)="toggleImage()">
            {{showHideImg ? 'Hide img':'Show img'}}</button>
        </th>
        <th>Product Name</th>
        <th>Product code</th>
        <th>Price</th>
        <th>Rating</th>
      </tr>

      <tr *ngFor="let product of products | products:filterBy" >
        <td>
          <img *ngIf="showHideImg" [src]="product.imageUrl" style="width:50px"/>
        </td>
        <td>
          <a href="#" [routerLink]="['/products',product.productCode]">
          {{product.productName}}
        </a>
        </td>

        <td>{{product.productCode}}</td>
        <td>{{product.price}}</td>
        <td>
          <app-rating [rating]="product.starRating" (ratingToparent)="ratingfnparent($event)">

          </app-rating>
        </td>

      </tr>
    </table>
  </div>

</div>
